<!--cart button-->
<div class="go-cart__trigger js-go-cart-trigger ">
<div id="cart">
    <div class="baggie hov">Cart</div>
    <div class="js-go-cart-counter cart-total">{{- cart.item_count -}}</div>
</div>
<div class="go-cart__mini-cart js-go-cart-mini-cart">
        <div class="go-cart-mini-cart">
            <div class="go-cart-mini-cart__content js-go-cart-mini-cart-content">
            </div>
            <div class="go-cart-mini-cart__subtotal">
                <span>Subtotal: </span>
                <span class="go-cart-mini-cart__subtotal-price js-go-cart-mini-cart-subtotal"></span>
            </div>
            <!--go cart mini cart buttons-->
            <div class="go-cart-mini-cart__footer js-go-cart-mini-cart-footer">
                <a href="/checkout/" class="go-cart__button">
                    Proceed to checkout</a>
                <a href="/cart/" class="go-cart__button">
                    Go to cart</a>
            </div>
        </div>
    </div>
</div>
