<!--go cart modal fail-->
<div class="go-cart__modal go-cart__modal--fail js-go-cart-modal-fail">
    <div class="go-cart-modal">
        <div class="go-cart-modal__close js-go-cart-modal-fail-close">
          <div id="cart">
              <div class="baggie hov">Cart</div>
              <div class="js-go-cart-counter cart-total">{{- cart.item_count -}}</div>
          </div>
        </div>
        <!--go cart modal content-->
        <div class="go-cart-modal__content js-go-cart-modal-fail-content">
            Something went wrong, please contact us!
        </div>
        <!--end go cart modal content-->
    </div>
</div>

<!--go cart modal-->
<div class="go-cart__modal js-go-cart-modal">
    <div class="go-cart-modal">
        <!--go cart modal close-->
        <div class="go-cart-modal__close js-go-cart-modal-close">
          <div id="cart">
              <div class="baggie hov">Cart</div>
              <div class="js-go-cart-counter cart-total">{{- cart.item_count -}}</div>
          </div>
        </div>
        <!--go cart modal content-->
        <div class="go-cart-modal__content js-go-cart-modal-content">

        </div>

        <div class="go-cart-modal__buttons">
            <a class="go-cart__button js-go-cart-modal-close">
                Continue shopping
            </a>
            <a href="/cart/" class="go-cart__button">
                View cart
            </a>
        </div>

    </div>
</div>
