{%- for block in section.blocks -%}
    {% case block.type %}
        {% when 'image' %}
             <div class="thumbnail-randmon">
               <img alt="{{ block.settings.image.alt}}" src="{{ block.settings.image | img_url: 'master' }}" />
           </div>
    {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "swiper-slide",
  "tag": "div",
  "class":"swiper-slide",
  "blocks": [
    {
      "type": "image",
      "name": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "item"
        }
      ]
    }
  ]
}
{% endschema %}
