@charset "utf-8";
/*
 * Global Styles
 */
 #preview-bar-iframe,
 .collection-digital-goods-vat-tax,
 .collection-monarch-regular,
 .collection-skrappa-bold-condensed,
 .collection-frontpage,
 #admin-bar-iframe{
  display: none !important;
}
.product-variant-item input[type='radio']:disabled + label,
.product-variant-item input[type='radio'].unavailable + label {
  border-color: rgba(var(--color-foreground), 0.3);
  color: rgba(var(--color-foreground), 0.4);
  text-decoration: line-through;
}
.product-variant-item input[type='radio'].unavailable:checked + label {
  color: rgb(var(--color-background));
}
::selection{
  background-color:transparent;
  color:grey;
}
.tg .tags:not(:last-child):after {
  content:","!important;
}
.bottom{
  padding:20px;
  grid-column:1/ span 12;
}
.center{
  grid-column:4 / span 6
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* VARIABLES
================================================== */
:root {
  --main: 20px;
	--small: 12px;
  --medium: 50px;
  --tags: 20px;
	--big: 3.5vw;
  --logo: 50px;
  --gap: 10px;
  --white: #f1f2f2;
  --black: #282829;
  --font-main: 'GH_LittleSpain-Regular';
  --font-secondary: 'AntiqueLegacy-Medium';
}
/* MAIN
================================================== */
*{
  font-size:5px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body, div, span,
header, footer, section, article, aside, menu, nav,
h1, h2, h3, h4, h5, h6,
p, ol, ul, li, a, strong, b, i, s, address, sub, sup,
form, label{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html{
  padding-bottom:0px!important;
}

ol, ul, li{
  list-style: none;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td{
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

input,
button,
select{
  padding-bottom: 0px!important;
  font-family: 'ABCArizonaSans-Bold';
  font-size: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  font-size:10px!important;
  color: inherit;
  background: transparent;
  background-color: transparent;
  line-height: normal !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="checkbox"],
button,
select{
  display:block;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input,
input:disabled,
button:disabled,
select:disabled{
  opacity: 1;
}

/* FONTS
================================================== */
@font-face {
  font-family: 'ABCArizonaSans-Bold';
  src: url('https://cdn.shopify.com/s/files/1/0578/5383/7359/files/ABCArizonaSans-Bold.eot?v=1660643012.eot');
  src: url('https://cdn.shopify.com/s/files/1/0578/5383/7359/files/ABCArizonaSans-Bold.eot?v=1660643012') format('embedded-opentype'),
  url('https://cdn.shopify.com/s/files/1/0578/5383/7359/files/ABCArizonaSans-Bold.woff2?v=1660643012') format('woff2'),
  url('https://cdn.shopify.com/s/files/1/0578/5383/7359/files/ABCArizonaSans-Bold.woff?v=1660643012') format('woff'),
  url('https://cdn.shopify.com/s/files/1/0578/5383/7359/files/ABCArizonaSans-Bold.ttf?v=1660643012.ttf') format('truetype'),
  url('https://cdn.shopify.com/s/files/1/0578/5383/7359/files/ABCArizonaSans-Bold.svg?v=1660643012') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar{
  display: none;
}

:focus{
  outline: none !important;
}

:focus::-ms-value{
  background-color: none;
  color: inherit;
}

::-moz-focus-inner{
  border: none !important;
}

.active{
  color:var(--white);
  background-color: var(--black)
}

.thumbnail{
  position: relative;
}

body{
 font-size: 10px;
 font-family: 'ABCArizonaSans-Bold';
 display: flex;
 background-color: var(--white);
 flex-direction: column;
 min-height: 100vh;
 width: 100%;
 height: 100%;
 margin: auto;
 font-smoothing: antialiased;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 -webkit-text-size-adjust: none;
 font-smoothing: antialiased;
}

img,
video{
  height: auto;
  display: block;
  object-fit: contain;
  font-size: 0;
  line-height: 0;
  transition:0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a{
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
/* SHOP
================================================== */
.main{
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

#products{
  padding: 20px;
  grid-gap:12px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

#products.dropped{
    grid-template-columns: repeat(12,1fr);
}

#products.dropped .product .main-information {
  border-top: 0.5px solid var(--black);
  border-right: 0.5px solid var(--black);
  border-left: 0.5px solid var(--black);
}

#products.dropped .product .info-product {
  border-bottom: 0.5px solid var(--black);
}

#products.dropped .product .info-product>div:nth-child(even) {
  border-left: 0.5px solid var(--black);
}

#products.dropped .info-product {
  border-bottom: 0.5px solid transparent;
  grid-column: span 1;
  row-gap: 0px!important;
  grid-template-columns: repeat(3,1fr);
  display: grid;
  grid-gap: 12px;
}

#products.dropped .info-product>div:nth-child(even) {
  border-left: 0.5px solid transparent;
  grid-column: span 2;
  padding: 2px 2px 2px 5px;
  display: grid;
}

.product.active-size,
.product.active-color{
    display: none;
}

img{
  width:100%;
}

header{
  z-index: 1;
  top: 0px;
  position: sticky;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  padding: 20px 20px 20px 20px;
  grid-gap:12px;
}

.logo{
  grid-column: span 3;
}

.logo svg{
  height: fit-content;
  display: block;
  width: 100%;
  fill:var(--black)!important;
}

.menu{
  grid-gap:12px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 5/ span 5;
}

.drop{
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column:span 2;
}

.link{
  back-drop-filter:blur(20px);
  padding-left: 5px!important;
  cursor: pointer;
  padding: 2px;
  grid-column: span 1;
  border:0.5px solid black;
}

.link:hover{
  background-color: var(--black);
  color: var(--white);;
}

.hov:hover{
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);;
}

.link-about:hover{
  background-color: var(--black);
  color: var(--white);
}

.link-about{
  back-drop-filter:blur(20px);
  padding: 2px;
  height: fit-content;
  grid-column: span 1;
  border:0.5px solid black;
}

.switch-view{
  padding: 2px 2px 2px 5px;
  grid-column:1/span 1;
  height: fit-content;
  border:0.5px solid black;
}

.dropdown.dropped{
  display: block;
}

.dropdown{
  display: none;
  margin-top: -1px;
  border-left:0.5px solid var(--black);
  border-top:0.5px solid var(--black);
  border-right:0.5px solid var(--black);
  background-color: white;
  grid-column: span 2;
}

.dropdown>div{
  padding-left: 5px!important;
  border-bottom:0.5px solid black;
  padding: 2px;
  cursor: pointer;
  width: 100%;
}

.dropdown>div:hover{
  background-color: var(--black);
  color: var(--white);;
}

.cart-part{
  grid-column: span 2;
}

#cart{
  border:0.5px solid var(--black);
  display: flex;
  justify-content: space-between;
}

.baggie{
  width: 100%;
  padding: 2px;
}

.baggie a{
  display: block;
  width: 100%;
}

#cart .cart-total{
  padding: 2px;
  width: 30px;
  border-left:0.5px solid var(--black);
  text-align: center;
}

.product{
  height: fit-content;
  position:relative;
  display:grid;
  row-gap:10px;
  display: grid;
  grid-column:span 4;
}

.product.dropped{
  grid-gap:12px;
  grid-template-columns: repeat(4, 1fr);
  display:grid;
}

.product.dropped .product-info{
  grid-column: span 3;
}

.product:hover .main-information {
  border-top: 0.5px solid var(--black);
  border-right: 0.5px solid var(--black);
  border-left: 0.5px solid var(--black);
}

.product:hover .info-product {
  border-bottom: 0.5px solid var(--black);
}

.product:hover .info-product>div:nth-child(even) {
  border-left: 0.5px solid var(--black);
}

.product:hover span.box {
  height: 100%;
  width: 100%;
  z-index: 10001;
  position: absolute;
  border: 0.5px solid var(--black);
}

span.box {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 0.5px solid transparent;
}

.main-information {
  border-top: 0.5px solid transparent;
  border-right: 0.5px solid transparent;
  border-left: 0.5px solid transparent;
  row-gap:0px!important;
  grid-template-columns: repeat(1,1fr);
  display: grid;
  grid-gap:12px;
}

.info-product {
  border-bottom: 0.5px solid transparent;
  grid-column: span 1;
  row-gap:0px!important;
  grid-template-columns: repeat(4,1fr);
  display: grid;
  grid-gap:12px;
}

.info-product>div:nth-child(odd) {
  color: grey;
  padding: 2px;
  grid-column: span 1;
  padding-left: 5px;
  display: grid;
}

.info-product>div:nth-child(even) {
  border-left: 0.5px solid transparent;
  padding: 2px;
  grid-column: span 3;
  padding-left: 5px;
  display: grid;
}

.thumbnail{
  z-index: 0;
  height:auto;
  position: relative;
}

.thumbnail:hover img.none{
  display: block;
}

.thumbnail img{
  width: 100%;
}

.thumbnail img.none{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

/* RANNDMON PAGE
================================================== */
.icon-marchive svg{
  display: block;
  width: 100px;
  position: fixed;
  right: 20px;
  bottom:20px;
  height: fit-content;
}
.main_page{
  min-height: calc(100vh - var(--m));
}
.swiper.home {
  top: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 20px!important;
}
.swiper.relatedd {
  top: 0px;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px!important;
}

.swiper-wrapper {
  width: fit-content;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex!important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.thumbnail-randmon img{
  height: 60vh;
  width: auto!important;
  border:0.5px solid var(--black);
}

/* PRODUCT PAGE
================================================== */
#single-product{
  padding: 0px 20px 0px 20px;
  grid-gap:12px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.product_info{
  z-index: 11;
  grid-column: span 3;
  position: sticky;
  top: var(--m);
  display: grid!important;
  row-gap:12px;
  height: fit-content;
}

.show-description{
  display: none;
}

.show-description.show{
  display: block;
}

.show-description.hide{
  display: none;
}

.button{
  cursor: pointer;
}

.button:hover{
  cursor: pointer;
}

.button.active{
  background-color: lightgrey;
  color: var(--black);
}

#bag span.sale{
  right: 5px!important;
  position: absolute;
  width: fit-content;
  background-color: transparent;
  padding-right: 5px;
  left: auto;
}

.sold-out, .sale{
  z-index: 1;
  color:var(--white);
  padding:2px;
  padding-left: 5px;
  left: 0px;
  background-color: var(--black);
}

#product-action{
  width: 100%;
  grid-gap: 12px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.nav-info{
  border-left: 0.5px solid black;
  border-top: 0.5px solid black;
  border-right: 0.5px solid black;
}

.nav-info>div {
  padding: 2px;
  border-bottom: 0.5px solid black;
  padding-left: 5px!important;
}

.gallery{
  display: grid;
  row-gap:12px;
  grid-column: span 6;
}

.gallery .thumb{
  border: 0.5px solid transparent;
}

.gallery .thumb:hover{
  border: 0.5px solid black;
}

div#related {
  z-index: 12;
  grid-column: span 3;
}

div#related >.product{
}

div#related >.product:first-child{
  top: var(--m);
}
#related .related-title{
  padding: 2px;
  padding-left: 5px;
  margin-bottom: 12px;
}
.addtocart{
  background-color: var(--black);
  color: var(--white);
  border: 0.5px solid var(--black);
  padding: 2px 5px 2px 5px;
}

/* FOOTER
================================================== */
footer{
  margin-top: 12px;
  position: relative;
  bottom: 0px;
  height: auto;
  background-color:var(--black);
  color: var(--white);
  padding: 20px!important;
  width: 100%;
}
.nav-footer {
  width: fit-content;
}
.nav-footer li {
  padding: 2px;
}
.credits {
  margin-top: 12px;
  color: grey;
}
/* PAGE DEFAULT
================================================== */
.page_title{
  grid-column:span 9;
}
.page_content{
  grid-column:span 9;
}
.main_page{
  grid-gap:20px;
  padding:20px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  min-height: calc(100vh - var(--m));
}

.main_page>div{
  height: fit-content;
}

/* ABOUT
================================================== */
/* CART
================================================== */
#cart-wrapper{
   grid-auto-flow: dense;
  padding:20px;
  grid-gap:20px;
  grid-column:span 12;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.total{
  position:sticky;
  top:100px;
   padding:20px;
   grid-column:span 4;
   background: #FAF8F6;
  height:fit-content;
    grid-template-columns: repeat(2,1fr);
    display:grid;
    grid-gap:20px;

}
 .item{
    grid-column:span 8;
     grid-gap:20px;
    grid-template-columns: repeat(8,1fr);
    display:grid;
}
.thumb{
  grid-column:span 2;
}
.info_cart{
  background: #FAF8F6;
  padding:20px;
  display:grid;
   grid-column:span 6;
  grid-template-columns: repeat(8,1fr);
}
.item-title{
    grid-column:span 3;
}
#checkout{
  padding:10px!important;
  grid-column:span 2;
  width:100%;
  background:#5FB307;
}
.quantity-button{
  cursor:pointer;
    padding:10px!important;
    background:#DEDED9;
}
.quantity-wrap{
   background:white;
    padding:10px!important;
}
.item-quantity {
  align-self: end;
    display: flex;
    grid-column: span 6;
    height: fit-content;
}
.item-variations {
    grid-column: span 4;
}
.empty {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    grid-column: span 6;
    height: fit-content;
}
.related-title {
}
.product-size-value[data-value="Default Title"] {
	display: none !important;
}
div#related {
  height: fit-content;
  position: sticky;
  top: var(--m);
}
/* HOME
================================================== */
/* FILTER
================================================== */
/* COLLECTION
================================================== */
/* IMAGE
================================================== */
/* VIDEO
================================================== */
/* ANIMATIONS
================================================== */

@keyframes blinker{
  0% {
    opacity: 1;
  }
  49%{
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* STUDIO
================================================== */

/* ABOUT
================================================== */

/* RESPONSIVE
================================================== */
@media (max-width: 800px){
}
/*BIGGER DESKTOP*/
@media (min-width: 1920px){
}
/*NORMAL DESKTOP*/
@media (min-width: 1681px) and (max-width: 1920px){
}
/*BIG LAPTOP DESKTOP*/
@media (min-width: 1441px) and (max-width: 1680px){
}
/*MOBILE CARD*/
@media (max-width: 812px) and (orientation: landscape){
}
/*MOBILE LANDSCAPE*/
@media (max-width: 812px){
}
/*IPAD PORTRAIT*/
@media (max-width: 768px){
}
/*SMALL TABLET*/
@media (max-width: 600px){
}
/*MOBILE*/
@media (max-width: 414px){
}
/*SMALL MOBILE*/
@media (max-width: 320px){
}
