@charset "utf-8";
/*
 * Global Styles
 */
 #preview-bar-iframe,
 .collection-digital-goods-vat-tax,
 .collection-monarch-regular,
 .collection-skrappa-bold-condensed,
 .collection-frontpage,
 #admin-bar-iframe{
  display: none !important;
}
.product-variant-item input[type='radio']:disabled + label,
.product-variant-item input[type='radio'].unavailable + label {
  border-color: rgba(var(--color-foreground), 0.3);
  color: rgba(var(--color-foreground), 0.4);
  text-decoration: line-through;
}
.product-variant-item input[type='radio'].unavailable:checked + label {
  color: rgb(var(--color-background));
}
::selection{
  background-color:transparent;
  color:grey;
}
.tg .tags:not(:last-child):after {
  content:","!important;
}
.bottom{
  padding:20px;
  grid-column:1/ span 12;
}
.center{
  grid-column:4 / span 6
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* VARIABLES
================================================== */
:root {
  --main: 20px;
	--small: 12px;
  --medium: 50px;
  --tags: 20px;
	--big: 3.5vw;
  --logo: 50px;
  --gap: 10px;
  --white: #f1f2f2;
  --offwhite: #FAF8F6;
  --black: #282829;
}
/* MAIN
================================================== */
*{
  font-size:5px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body, div, span,
header, footer, section, article, aside, menu, nav,
h1, h2, h3, h4, h5, h6,
p, ol, ul, li, a, strong, b, i, s, address, sub, sup,
form, label{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html{
  padding-bottom:0px!important;
}

ol, ul, li{
  list-style: none;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td{
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

input,
button,
select{
  padding-bottom: 0px!important;
  font-size: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  font-size:12px!important;
  line-height: 12px;
  color: inherit;
  background: transparent;
  background-color: transparent;
  line-height: normal !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="checkbox"],
button,
select{
  display:block;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input,
input:disabled,
button:disabled,
select:disabled{
  opacity: 1;
}

.icon-marchive {
  z-index: 10;
}
/* FONTS
================================================== */
@font-face {
  font-family: 'ABCArizonaSans-Bold';
  src: url('https://cdn.shopify.com/s/files/1/0578/5383/7359/files/ABCArizonaSans-Bold.eot?v=1660643012.eot');
  src: url('https://cdn.shopify.com/s/files/1/0578/5383/7359/files/ABCArizonaSans-Bold.eot?v=1660643012') format('embedded-opentype'),
  url('https://cdn.shopify.com/s/files/1/0578/5383/7359/files/ABCArizonaSans-Bold.woff2?v=1660643012') format('woff2'),
  url('https://cdn.shopify.com/s/files/1/0578/5383/7359/files/ABCArizonaSans-Bold.woff?v=1660643012') format('woff'),
  url('https://cdn.shopify.com/s/files/1/0578/5383/7359/files/ABCArizonaSans-Bold.ttf?v=1660643012.ttf') format('truetype'),
  url('https://cdn.shopify.com/s/files/1/0578/5383/7359/files/ABCArizonaSans-Bold.svg?v=1660643012') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'BastardoGrotesk-Regular';
    src: url('BastardoGrotesk-Regular.woff2') format('woff2');
    src: url('BastardoGrotesk-Regular.woff') format('woff');
  	font-weight: normal;
    font-style: normal;
  	font-display: swap;
}

::-webkit-scrollbar{
  display: none;
}

:focus{
  outline: none !important;
}

:focus::-ms-value{
  background-color: none;
  color: inherit;
}

::-moz-focus-inner{
  border: none !important;
}

.active{
  color:var(--white);
  background-color: var(--black)
}
.active-footer{
  color: grey;
}

.thumbnail{
  position: relative;
}

body{
 font-size: 10px;
 font-family: 'BastardoGrotesk-Regular';
 display: flex;
 background-color: var(--white);
 flex-direction: column;
 min-height: 100vh;
 width: 100%;
 height: 100%;
 font-size:12px!important;
 line-height: 12px;
 margin: auto;
 font-smoothing: antialiased;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 -webkit-text-size-adjust: none;
 font-smoothing: antialiased;
 overflow-x: hidden;
}

img,
video{
  height: auto;
  display: block;
  object-fit: contain;
  font-size: 0;
  line-height: 0;
  transition:0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a{
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
/* SHOP
================================================== */
.main{
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.main-page{
    flex-grow: 1;}

#products{
  padding: 20px;
  grid-gap:12px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

#products.dropped{
    grid-template-columns: repeat(12,1fr);
}

#products.dropped .product .main-information {
  border-top: 0.5px solid var(--black);
  border-right: 0.5px solid var(--black);
  border-left: 0.5px solid var(--black);
}

#products.dropped .product .info-product {
  border-bottom: 0.5px solid var(--black);
}

#products.dropped .product .info-product>div:nth-child(odd) {
  border-right: 0.5px solid var(--black);
}

#products.dropped .info-product {
  border-bottom: 0.5px solid transparent;
  grid-column: span 1;
  row-gap: 0px!important;
  grid-template-columns: repeat(3,1fr);
  display: grid;
}

#products.dropped .info-product>div:nth-child(odd) {
  border-right: 0.5px solid transparent;
}

.product.active-size,
.product.active-color{
    display: none;
}

img{
  width:100%;
}

header{
  z-index: 1;
  top: 0px;
  position: sticky;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  padding: 20px 20px 20px 20px;
  grid-gap:12px;
}
.logo{
  grid-column: span 3;
}
.logo svg{
  height: auto;
  display: block;
  width: 100%;
  fill:var(--black)!important;
}
.nav-down{
  opacity: 1;
}
.nav-up{
  opacity: 1;
}
.menu{
  grid-gap:12px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 5/ span 5;
}
.menu-open{
  display: none;
}

.drop{
  column-gap: 12px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column:span 2;
}

.link{
  back-drop-filter:blur(20px);
  padding-left: 5px!important;
  cursor: pointer;
  padding: 2px;
    padding-top: 3px!important;
  grid-column: span 1;
}

.link:hover{
  background-color: var(--black);
  color: var(--white);;
}

.hov:hover{
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);;
}

.link-about:hover{
  background-color: var(--black);
  color: var(--white);
}

.link-about{
  back-drop-filter:blur(20px);
  padding: 2px;
    padding-top: 3px!important;
    padding-left: 5px!important;
  height: fit-content;
  grid-column: span 1;
}

.link-about-mobile{
  back-drop-filter:blur(20px);
  padding: 2px;
    padding-top: 3px!important;
    padding-left: 5px!important;
  display: none;
  height: fit-content;
  grid-column: span 2;
}
.switch-view{
  padding: 4px 2px 2px 5px;
  width: 19px;
  float: right;
  height: 19px;
  border: 0.5px solid black;
}
.dropdown.dropped{
  display: block;
}
.dropdown{
  display: none;
  margin-top: -1px;
  border-left:0.5px solid var(--black);
  border-top:0.5px solid var(--black);
  border-right:0.5px solid var(--black);
  background-color: white;
  grid-column: span 2;
}
.dropdown>div{
  padding-left: 5px!important;
  border-bottom:0.5px solid black;
  padding: 2px;
  padding-top: 3px!important;
  cursor: pointer;
  width: 100%;
}
.dropdown.filter>div a{
  padding-left: 5px!important;
  padding: 2px;
  padding-top: 3px!important;
  cursor: pointer;
  width: 100%;
}
.dropdown.filter>div{
  padding-left: 0px!important;
  border-bottom:0.5px solid black;
  padding: 0px;
  padding-top: 0px!important;
}
.dropdown.filter>div:hover{
  background-color: var(--black);
  color: var(--white);;
}
.dropdown>div:hover{
  background-color: var(--black);
  color: var(--white);;
}
.cart-part{
  grid-column: span 2;
}
#cart{
  line-height: initial;
  border:0.5px solid var(--black);
  display: flex;
  justify-content: space-between;
}
#cart-white{
  border:0.5px solid var(--white);
  display: flex;
  line-height: 12px;
  justify-content: space-between;
}
.go-cart-drawer {
    position: relative;
    height: 100%;
    padding: 0px 20px 20px 12px!important;
}
.go-cart-item__price {
  position: inherit!important;
  top: 0px!important;
  bottom: 0px!important;

}
.baggie{
  line-height: initial;
  width: 100%;
  padding: 2px;
  padding-top: 3px!important;
  padding-left: 5px!important;
}

.baggie a{
  display: block;
  width: 100%;
}
#cart-white .cart-total{
  padding: 2px;
    padding-top: 3px!important;
  width: 30px;
  border-left:0.5px solid var(--white);
  text-align: center;
}
.go-cart-drawer__header {
    width: 100%;
    height: auto!important;
    display: block!important;
    justify-content: flex-end;
    align-items: center;
    padding: 0!important;
    position: sticky;
    top: 20px;
}
#cart .cart-total{
    padding: 2px;
    padding-top: 3px!important;
    width: 30px;
    border-left:0.5px solid var(--black);
    text-align: center;
}
.go-cart-item__quantity {
    position: relative!important;;
    bottom: 10px;
    display: flex;
    align-items: center;
}
.go-cart-item__info {
    max-width: 0px!important;;
    line-height:auto!important;;
    padding: 0px!important;;
}
.go-cart-item__image{
    width: 50%!important;;
    height: 216px!important;;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.go-cart-item__info-wrapper {
    position: relative;
    display: grid!important;;
}
.product{
  height: fit-content;
  position:relative;
  display:grid;
  row-gap:10px;
  display: grid;
  grid-column:span 6;
}
.product.dropped{
  grid-gap:12px;
  grid-template-columns: repeat(4, 1fr);
  display:grid;
}
.activen{
  color: var(--white);
  background-color: var(--black);
}
.product.dropped .product-info{
  grid-column: span 3;
}
.product:hover .main-information {
  border-top: 0.5px solid var(--black);
  border-right: 0.5px solid var(--black);
  border-left: 0.5px solid var(--black);
}
.product:hover .info-product {
  border-bottom: 0.5px solid var(--black);
}
.product:hover .info-product>div:nth-child(odd) {
  border-right:0.5px solid var(--black);
}
.product:hover .box {
  height: 100%;
  width: 100%;
  z-index: 10001;
  position: absolute;
  border: 0.5px solid var(--black);
}
.home_img {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.home_img img {
    object-fit: cover;
    height: 100vh;
}
.box {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 0.5px solid transparent;
}
.main-information {
  border-top: 0.5px solid transparent;
  border-right: 0.5px solid transparent;
  border-left: 0.5px solid transparent;
  row-gap:0px!important;
  grid-template-columns: repeat(1,1fr);
  display: grid;
  grid-gap:12px;
}
.info-product {
  border-bottom: 0.5px solid transparent;
  grid-column: span 1;
  row-gap:0px!important;
  grid-template-columns: repeat(4,1fr);
  display: grid;
  grid-gap: 12px;
}
.info-product>div:nth-child(odd) {
  color: grey;
  padding: 2px;
  padding-top: 3px!important;
  grid-column: span 1;
  padding-left: 5px;
  display: grid;
  border-right: 0.5px solid transparent;
}
.info-product>div:nth-child(even) {
  padding: 2px;
  padding-top: 3px!important;
  grid-column: span 3;
  padding-left: 5px;
  display: grid;
  margin-left: -12px;
}
/* .filt {
  grid-column: 5/ span 2;
} */
/* .filt .link:hover {
  border: 0.5px solid ;
  background-color: grey!important;
  color:var(--black)!important;
}
.filt .link.active {
  background-color: transparent;
  color:var(--black)!important;
} */
.dropped .info-product>div:nth-child(even) {
    grid-column: span 2!important;
    padding: 2px 2px 2px 5px;
    display: grid;
    margin-left: -12px;
}
.remove{
  right: 0px;
  position: absolute;
  top: 0;
  padding: 3px 5px 2px 5px !important;
  border-left: 0.5px solid;
}

.thumbnail{
  z-index: 0;
  height:auto;
  position: relative;
}

.thumbnail:hover img.none{
  display: block;
}

.thumbnail img{
  width: 100%;
}

.thumbnail img.none{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

/* RANNDMON PAGE
================================================== */
.icon-marchive svg {
  display: block;
  width: 100px;
  position: fixed;
  right: 20px;
  bottom:20px;
  height: fit-content;
}

.swiper.home {
  top: 0px;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 20px!important;
}
.swiper-slide.swiper-slide-next {
  opacity: 0;
}
.swiper-slide.swiper-slide-prev {
  opacity: 0;
}
.swiper.relatedd {
  top: 0px;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px!important;
}

.swiper-wrapper {
  width: fit-content;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.contact a{
  display:contents;
  width: fit-content;
  color:var(--black);
}

.contact{
  text-align: right;
  border: none;
  color: grey;
}

.extra-info{
  color: grey;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex!important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.thumbnail-randmon{
  z-index: -1;
  position: absolute;
  height: calc(100vh - 10px)!important;
  width: calc(100vw - 10px)!important;
}
.thumbnail-randmon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border:0.5px solid var(--black);
  border:0.5px solid var(--black);
}

/* PRODUCT PAGE
================================================== */
#single-product{
  padding: 0px 20px 0px 20px;
  grid-gap:12px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.product_info{
  z-index: 11;
  grid-column: span 3;
  position: sticky;
  top: var(--m);
  display: grid!important;
  row-gap:12px;
  height: fit-content;
}

.show-description{
  display: none;
}

.show-description.show{
  display: block;
}

.show-description.hide{
  display: none;
}

.button{
  cursor: pointer;
}

.button:hover{
  cursor: pointer;
  background-color: lightgrey;
}

.button.active{
  background-color: lightgrey;
  color: var(--black);
}

#bag span.sale{
  right: 5px!important;
  position: absolute;
  width: fit-content;
  background-color: transparent;
  padding-right: 5px;
  left: auto;
}

.sold-out, .sale{
  position: absolute;
  z-index: 10;
  width: 50%;
  color:var(--white);
  padding:2px;
  padding-top: 3px!important;
  padding-left: 5px;
  left: 0px;
  background-color: var(--black);
}

.dropped .sold-out, .dropped .sale{
  position: relative;
  z-index: 10;
  width: 100%;
  color:var(--white);
  padding:2px;
  padding-top: 3px!important;
  padding-left: 5px;
  left: 0px;
  background-color: var(--black);
}

.product-action{
  width: 100%;
  grid-gap: 12px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.nav-info{
  border-left: 0.5px solid black;
  border-top: 0.5px solid black;
  border-right: 0.5px solid black;
}

.nav-info>div {
  padding: 2px;
    padding-top: 3px!important;
  border-bottom: 0.5px solid black;
  padding-left: 5px!important;
}

.gallery{
  display: grid;
  row-gap:12px;
  grid-column: span 6;
}

.gallery .thumb{
  border: 0.5px solid transparent;
}

.gallery .thumb:hover{
  border: 0.5px solid black;
}

div#related {
  z-index: 12;
  grid-column: span 3;
}

div#related >.product{
}

div#related >.product:first-child{
  top: var(--m);
}
#related .related-title{
  padding: 2px;
    padding-top: 3px!important;
  padding-left: 0px;
  margin-bottom: 12px;
}
.addtocart{
  background-color: var(--black);
  color: var(--white);
  border: 0.5px solid var(--black);
  padding: 4px 5px 2px 5px;
}
.layer{
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--white);
  opacity: 0.5;
}

/* FOOTER
================================================== */
footer{
  margin-top: 12px;
  position: relative;
  bottom: 0px;
  height: auto;
  color: var(--black);
  padding: 20px!important;
  width: 100%;
}
.nav-footer {
  width: fit-content;
}
.nav-footer li {
  padding: 2px;
}
.credits {
  margin-top: 12px;
  color: grey;
}
/* PAGE DEFAULT
================================================== */
.page_title{
  color: grey;
  grid-column:span 2;
}
.page_content{
  grid-column:span 6;
}
.main_page{
  grid-gap:12px;
  padding:20px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.main_page>div{
  height: fit-content;
}
.go-cart-drawer__footer{
bottom: 10px!important;
width: calc(100% - 40px)!important;
position: absolute!important;
flex-direction: column;
height: 170px;
padding: 20px 30px;
}


/* ABOUT
================================================== */
/* CART
================================================== */
.go-cart-drawer__footer, .go-cart-drawer__subtotal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px!important;
  -webkit-transition:none;
}
.go-cart-drawer__content {
    height: var(--h)!important;
    overflow: hidden;
    padding: 0px!important;
    overflow-y: scroll;
    padding-top: 100px!important;
    padding-bottom: calc(var(--fc) + 20px)!important;
}
.go-cart-item__remove {
  top: 0px!important;
  position: relative!important;
  padding: 3px 2px 5px 0px;
}
.go-cart-item__info{
  width: 100%!important;;
  display: grid!important;;
  max-width: 100%!important;
  padding: 0px!important;;
}
.go-cart-drawer__subtotal {
  display: grid!important;;
  grid-gap: 12px!important;;
  grid-template-columns: repeat(4,1fr)!important;;
  border: 0.5px solid!important;
  justify-content: unset!important;;
  width: 100%!important;;
}
.go-cart-item__image{
  margin-bottom: 12px!important;
  background-position: 50%;
  background-repeat: no-repeat;
}
.go-cart-drawer__close #cart{
  border:0.5px solid var(--white);
}
.go-cart-drawer__close #cart{
  width: 50%!important;
}
.go-cart-drawer__close #cart .cart-total {
  border-left: 0.5px solid var(--white);
}
.closecart {
  line-height: initial;
  right: 0px;
  position: absolute;
  top: 0px;
  padding: 3px 5px 2px 5px;
  border: 0.5px solid var(--white);
}
.go-cart__drawer {
  position: fixed;
  top: 0;
  right: calc(-25vw - 14px)!important;
  z-index: 40!important;
  width: 100%!important;
  border-left: 0.5px solid var(--black)!important;
  max-width: calc(25vw + 14px)!important;
  height: 100%!important;
  color: white!important;
  background-color: var(--black)!important;
  -webkit-transition: all 0.1s ease-in-out!important;
  transition: all 0.1s ease-in-out!important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.go-cart__drawer.is-open {
  -webkit-transform: translateX(-26vw)!important;
  transform: translateX(-26vw)!important;
  color: white!important;
  background-color: var(--black)!important;
}
.go-cart__button {
  background: #000;
  color: #fff;
  padding: 0px!important;
  text-align: center;
  cursor: pointer;
}
.go-cart-item__single {
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 0px 0!important;
  margin-bottom: 12px;
  border-bottom: 0px solid #f5f5f5!important;;
}
.go-cart__overlay {
  background-color: transparent!important;
}
.product-simple .selector-wrapper {
  display: none;
}
.go-cart-item__quantity {
  display: none;
  position: absolute;
  bottom: 10px;
  align-items: center;
}
#cart-wrapper{
  flex-grow: 1;
  grid-auto-flow: dense;
  padding:20px;
  grid-gap:12px;
  grid-column:span 12;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.total{
  position:sticky;
  top:100px;
  grid-column:span 3;
  height:fit-content;
  grid-template-columns: repeat(2,1fr);
  display:grid;
}
 .item{
  grid-column:span 9;
  grid-gap:12px;
  grid-template-columns: repeat(9,1fr);
  display:grid;
}
.thumb{
  grid-column:3/span 2;
}
.info_cart {
  display: grid;
  grid-column: span 5;
  grid-template-columns: repeat(5,1fr);
  height: fit-content;
  grid-gap: 12px;
}
.go-cart__button {
  background: var(--white)!important;
  color: var(--black)!important;
  padding: 3px 2px 2px 2px!important;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.go-cart-item__title::before {
  content: "Item";
  color:grey;
  display: inline-block;

  width: 78px!important;
}
.go-cart-item__price::before {
  content: "Price";
  color:grey;
  display: inline-block;
  width: 78px!important;
}
.go-cart-item__title{
  padding: 3px 2px 2px 0px;
}
.go-cart-item__price{
  padding: 3px 2px 2px 0px;
}
.go-cart-drawer__footer {
  flex-direction: column;
  height: auto!important;
  padding: 0px!important;
}
.go-cart-item__quantity {
  display: none!important;
}
.go-cart-drawer__subtotal {
  align-items: center;
  margin-bottom: 5px;

  height: auto!important;
}
.go-cart-drawer__subtotal-price{
        border-left: 0.5px solid;
}
.go-cart-drawer__subtotal span{

    padding: 3px 2px 2px 5px!important;
}

.item-title{
  grid-column:span 3;
}
#checkout{
  grid-column:span 2;
  width:100%;
  background:var(--black);
}
.quantity-button{
  width: 50%;
  text-align: center;
  cursor:pointer;
}
.item-quantity {
  align-self: end;
  display: flex;
  grid-column: span 6;
  height: fit-content;
}
.item-variations {
  grid-column: span 4;
}
.empty {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  grid-column: span 6;
  height: fit-content;
}
.product-size-value[data-value="Default Title"] {
	display: none !important;
}
div#related {
  z-index: 0;
  height: fit-content;
  position: sticky;
  top: var(--m);
}
/* HOME
================================================== */
/* FILTER
================================================== */
/* COLLECTION
================================================== */
/* IMAGE
================================================== */
/* VIDEO
================================================== */
/* ANIMATIONS
================================================== */

@keyframes blinker{
  0% {
    opacity: 1;
  }
  49%{
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* STUDIO
================================================== */

/* ABOUT
================================================== */

/* RESPONSIVE
================================================== */
@media (max-width: 800px){


  .go-cart__drawer {
    position: fixed;
    top: 0;
    right: -100vw!important;
    max-width: 100vw!important;
  }
  .go-cart__drawer.is-open {
    -webkit-transform: translateX(-100vw)!important;
    transform: translateX(-100vw)!important;
  }
body{
font-size: 13px;
line-height: 16px;
}
.nav-down{
  opacity: 1;
}
.nav-up{
  opacity: 0;
}
header{
  position: relative;
  transition: 0.5s;
  z-index: 10!important;
  }
.logo {
  transition: 0.5s;
  grid-column: span 12;
}
.menu {
  order: 5;
  grid-gap: 12px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column: span 12;
}
.cart-part {
  grid-column: span 6;
}
.switch-view {
  grid-column: span 3;
  border: 0px;
  display: none;

}
.menu-open{
  height: fit-content;
  grid-column: span 3;
  display: block;
  padding-top: 2px!important;
  padding-left: 5px!important;
  border: 0.5px solid grey;

}
.drop {
  column-gap: 12px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column: span 2;
}
.product {
  height: fit-content;
  position: relative;
  row-gap: 10px;
  display: grid;
  grid-column: span 12;
}
.link-about{
  display: none;
}
.link-about-mobile{
  padding: 2px;
  display: block;
  height: fit-content;
  grid-column: span 3;
}
.gallery {
  order: -1;
  display: grid;
  row-gap: 12px;
  grid-column: span 12;
}
.product_info {
  top: auto;
  z-index: 1;
  position: relative;
  grid-column: span 12;
}
div#related {
  z-index: 1;
  grid-column: span 12;
}
.page_title, .page_content {
  grid-column: span 12;
}
.info_cart {
    display: grid;
    grid-column: span 12;
    grid-template-columns: repeat(4,1fr);
    height: fit-content;
    grid-gap: 12px;
}
.thumb {
    grid-column: span 5;
}
.item {
    grid-column: span 12;
    grid-gap: 12px;
    grid-template-columns: repeat(12,1fr);
    display: grid;
}
.total {
    position: sticky;
    top: 100px;
    grid-column: span 12;
    height: fit-content;
    grid-template-columns: repeat(2,1fr);
    display: grid;
}
.link{
  grid-column: span 1;
}
.thumbnail-randmon img{

  height: calc(100vh - 10px)!important;
  width: calc(100vw - 10px)!important;
  object-fit: cover;
  border:0.5px solid var(--black);
}
.go-cart-drawer__content {
  padding-top: 100px!important;
}
.icon-marchive svg {
  display: block;
  width: 70px;
  position: fixed;
  right: 20px;
  bottom:20px;
  height: fit-content;
}
.icon-marchive  {
  z-index: 100;
}
.drop{
  display: none;
}
.drop.filt {
    grid-column: span 6;
}
.dropdown{
  display: block;
}
}
/*BIGGER DESKTOP*/
@media (min-width: 1920px){
}
/*NORMAL DESKTOP*/
@media (min-width: 1681px) and (max-width: 1920px){
}
/*BIG LAPTOP DESKTOP*/
@media (min-width: 1441px) and (max-width: 1680px){
}
/*MOBILE CARD*/
@media (max-width: 812px) and (orientation: landscape){
}
/*MOBILE LANDSCAPE*/
@media (max-width: 812px){
}
/*IPAD PORTRAIT*/
@media (max-width: 768px){
}
/*SMALL TABLET*/
@media (max-width: 600px){
}
/*MOBILE*/
@media (max-width: 414px){
}
/*SMALL MOBILE*/
@media (max-width: 320px){
}
