<div id="products">
  {% for product in collection.products %}
		  {% include 'product-body' %}
  {% endfor %}
</div>

<script>
$(document).ready(function() {
    $(".normal .dropdown").removeClass("dropped");

  
  var width = $(window).width();
  if (width < 600){
    $(".normal .dropdown").removeClass("dropped");
    $(".normal .link").removeClass("active"); }
  else{
    $(".normal .dropdown").addClass("dropped");
    $(".normal .link").addClass("active");
  }
});
$(window).resize(function() {
  var width = $(window).width();
  if (width < 600){
    $(".normal .dropdown").removeClass("dropped");
    $(".normal .link").removeClass("active"); }
  else{
    $(".normal .dropdown").addClass("dropped");
    $(".normal .link").addClass("active");
  }
});
</script>
<style>
.filt{
  display: grid;
}
</style>
