<div id="products">
  {% for product in collection.products %}
		  {% include 'product-body' %}
  {% endfor %}
</div>
<script>
  $(".dropdown").addClass("dropped");
    $(".link").addClass("active");
</script>
