<div id="products">
  {% for product in collection.products %}
		  {% include 'product-body' %}
  {% endfor %}
</div>
<script>
$(window).resize(function() {
  var width = $(window).width();
  if (width < 800){
    $(".dropdown").addClass("dropped");
      $(".link").addClass("active");  }
  else{
    
  }
});

</script>
