<div id="products">
  {% for product in collection.products %}
		  {% include 'product-body' %}
  {% endfor %}
</div>
<script>
$(window).ready(function() {
  var width = $(window).width();
  if (width > 600){
    $(".dropdown").removeClass("dropped");
    $(".link").removeClass("active"); }
  else{
    $(".dropdown").addClass("dropped");
    $(".link").addClass("active");
  }
});
</script>
