<div class="banner_main">
    {% section 'home_entrance' %}
</div>
<div id="main-collection" class="main">
    {% for product in products limit:  4 %}
         {% include 'product-body' %}
    {% endfor %}
</div>
{% section 'banner_home' %}
