<div id="products">
  {% for product in collections.all.products %}
    {% include 'product-body' %}
  {% endfor %}
</div>
<script>
$(window).resize(function() {
  var width = $(window).width();
  if (width < 600){
    $(".dropdown").addClass("dropped");
      $(".link").addClass("active");  }
  else{
  }
});
</script>
