<div id="products">
  {% for product in collections.all.products %}
    {% include 'product-body' %}
  {% endfor %}
</div>
<script>
$(document).ready(function() {
  var width = $(window).width();
  if (width < 600){
    $(".dropdown").removeClass("dropped");
    $(".link").removeClass("active"); }
  else{
    $(".dropdown").addClass("dropped");
    $(".link").addClass("active");
  }
});
$(window).resize(function() {
  var width = $(window).width();
  if (width < 600){
    $(".dropdown").removeClass("dropped");
    $(".link").removeClass("active"); }
  else{
    $(".dropdown").addClass("dropped");
    $(".link").addClass("active");
  }
});
</script>
