<!--Content-->
<div class="page_content">
  {{ page.content | replace: '_16x16', '' | replace: '_32x32', '' | replace: '_50x50', '' | replace: '_100x100', '' | replace: '_160x160', '' | replace: '_240x240', '' | replace: '_480x480', '' | replace: '_600x600', '' | replace: '_1024x1024', '' }}
</div>
<div class="banner_main">
  {% section 'banner_about' %}
</div>

<style>
  .switch-view{
    display: none;
  }
  .page_content {
    z-index: 1;
    grid-column: span 9;
    color: white;
    font-size: 20px;
    padding: 20px;
}
</style>
